<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJ3EqSqoGuTOzvUARgcjlTm_apAgHjZh8</string>
	<key>GCM_SENDER_ID</key>
	<string>585928717348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>traceroute.DemoFirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>simplefirebase-4a372</string>
	<key>STORAGE_BUCKET</key>
	<string>simplefirebase-4a372.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585928717348:ios:eb74b2c0a64144790fd4b1</string>
</dict>
</plist>